# default
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# osx
.DS_Store

# intellij
.idea
local.properties

# node.js
node_modules/
npm-debug.log
npm-debug.*

# docs
website/docs.json
website/src/input.json
website/src/playground.json
website/src/examples.json
website/src/assets/playground-build/
website/src/assets/examples-build/

#config
config/

# Expo-Project files
.expo/
dist
.expo*

# Jest
*.snap
